.App {
  text-align: center;
  height: 100vh;
  margin: 0;

}

.App-header {
  background-color: #373a40;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #eeeeee;
}

footer {
  background-color: #373a40;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  color: #eeeeee;
  bottom: auto;

}

.histogram {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}
.data-div {
  padding: 20px;
}
.loading-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;

}

.button {
  background-color: #373a40;
  border: 1px solid #563d7c;
  color: #eeeeee;
  width: auto;
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.button:hover {
  background-color: #373a40;
  border: 1px solid #373a40;
  color: #19d3da;

}
